<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<div class="container">
    <div class="row">
        <div class="col-sm-10" id="img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cheeseburger.jpg/1200px-Cheeseburger.jpg"
                width="200px">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10" id="eat">
            <h1>Eat-Da-Burger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <input class="form-control" type="text" id="newBurgers" placeholder="Enter a new burger here!">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <button id="burgers-submit" class="btn btn-lg pull-right">Submit!</button>
        </div>
    </div>
</div>
		{{{ body }}}
	</body>
</html>
